<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Existing NHS exemption certificate found - Buy an NHS HRT Prescription Prepayment Certificate (HRT PPC)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}


{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Existing NHS exemption certificate found
        </h1>
      </legend><br>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p>
        Our records show you currently hold an NHS exemption certificate. This means you are currently exempt from paying for your HRT medicine so do not need an HRT PPC.<br><br> Depending on the type of certificate you have you may be able to use our <a href="https://services.nhsbsa.nhs.uk/check-my-nhs-exemption/start">Check if you have an NHS exemption service (opens in a new tab)</a> to find out when it expires.

        
        <br><br>If you have an HRT PPC, you can find out when it expires by <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">contacting us (opens in a new tab)</a>.
        
        
      </p>
      
      

      

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
