<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Contact us - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}


{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Contact us
        </h1>
      </legend><br>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p>
        Our records show you already receive help with NHS health costs.<br><br>
        Use our <a href="https://services.nhsbsa.nhs.uk/check-my-nhs-exemption/start">eligibility checker</a> before purchasing an HRT PPC to see if you can get your prescriptions for free.

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Contact us
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>If you need help in completing this form, call us on 0300 330 1341.<br>Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm<br> </p>
        <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">Find out about call charges</a>.</p>
        <p>You could also use our <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">contact form.</a></p>
        </p>
        
          </div>
        </details>


        
      
      

        <p><a href="https://www.nhsbsa.nhs.uk/">Go to NHS Business Services home</a>.</p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
